html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f8fcfe;
	-webkit-user-select: none;
}

#dropbox {
	width: 100%;
	height: 100%;
	background: url(../images/icon128.png) no-repeat 0 0;
	-webkit-background-size: 100%;
}

#dropbox:hover {
	opacity: .8;
}

#hFile {
	visibility: hidden;
	position: fixed;
	height: 0;
}
