body {
	margin: 0;
	padding: 13px 13px 0 13px;
	background-color: #f2f1f0;
	color: #222;
	font: 15px Tahoma, Geneva, 'Ubuntu', sans-serif;
}

select, button {
	height: 29px;
	font: 15px Tahoma, Geneva, 'Ubuntu', sans-serif;
}

.clear {
	clear: both;
}

#container {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#container li {
	margin-bottom: 10px;
}

#downloadLabel {
	line-height: 29px;
}

#downloadLocations {
	float: right;
	width: 100%;
	vertical-align: middle;
}

#new {
	display: none;
}

#newLabelDirectoryRow {
	display: flex;
}

#newDirectory {
	flex-grow: 1;
}

#cancel {
	float: right;
	width: 85px;
}

#save {
	float: right;
	width: 85px;
	margin-left: 15px;
}
