body, input, select, button {
	color: #222;
	font: 13px Tahoma, Geneva, 'Ubuntu', sans-serif;
}

input, select {
	margin: 0;
	padding: 0;
}

select {
	height: 19px;
}

button {
	margin: 0;
	padding: 0 10px;
}

div.clear {
	clear: both;
}

#container {
	width: 700px;
	margin: 0 auto;
}

#container fieldset {
	margin-bottom: 20px;
	border-radius: 5px;
}

#container fieldset legend {
	font-weight: bold;
}

#container fieldset ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#container fieldset ul li {
	line-height: 19px;
	margin: 15px 0;
}

#container fieldset ul li span.small {
	font-size: 9px;
}

#container fieldset ul li label.section {
	float: left;
	width: 155px;
	margin-right: 15px;
	text-align: right;
}
label.sectionheader{
	font-weight: bold;
}

#container fieldset ul li div.options {
	float: left;
	width: 504px;
}

#ip, #path {
	width: 102px;
}

#port {
	width: 40px;
}

#customdirs {
	table-layout: fixed;
	border-spacing: 5px;
}

#customdirs th, td {
	padding: 0;
}

#customdirs input.label {
	width: 140px;
}

#customdirs input.dir {
	width: 276px;
}

#customdirs tr.addcustom {
	height: 30px;
	vertical-align: top;
}

#customdirs div.button {
	float: left;
	width: 16px;
	height: 12px;
	background-image: url(../images/dir_buttons.png);
	cursor: pointer;
}

#customdirs div.button.up {
	background-position: 0 0;
}

#customdirs div.button.down {
	background-position: -16px 0;
}

#customdirs div.button.remove {
	background-position: -32px 0;
}

#save {
	margin-left: 10px;
}

#saved {
	display: none;
}
